# rain_data
Tes III.3: Logika Angka

## example
Berikut merupakan data curah hujan di kota Bandung, Jakarta, dan Surabaya dalam seminggu terakhir, yang dinyatakan dalam (mm/hari).

Kota | Sen | Sel | Rab | Kam | Jum | Sab | Min
:--- | --- | --- | --- | --- | --- | --- | ---
Bandung  | 30 | 55 | 40 | 35 | 20 | 65 | 70
Jakarta  | 25 | 40 | 55 | 20 | 60 | 35 | 75
Surabaya | 15 | 30 | 55 | 40 | 55 | 25 | 80

10.	Berapakah persentase kenaikan curah hujan dari hari Jumat ke hari Minggu di kota Surabaya... \
A.	45% \
B.	34% \
C.	40% \
D.	55% \
E.	60%

In [1]:
print(f'{(80-55)/55 * 100:0.0f}%', "(A)")

45% (A)

Kota | Sen | Sel | Rab | Kam | Jum | Sab | Min
:--- | --- | --- | --- | --- | --- | --- | ---
Bandung  | 30 | 55 | 40 | 35 | 20 | 65 | 70
Jakarta  | 25 | 40 | 55 | 20 | 60 | 35 | 75
Surabaya | 15 | 30 | 55 | 40 | 55 | 25 | 80

11.	Berapakah selisih rata-rata curah hujan dalam seminggu antara kota Bandung dan Jakarta... \
A.	2,1 mm/hari \
B.	1,8 mm/hari \
C.	2,5 mm/hari \
D.	1,6 mm/hari \
E.	1,4 mm/hari

In [2]:
bdg = (30 + 55 + 40 + 35 + 20 + 65 + 70)/7; print("avg Bandung", bdg)
jkt = (25 + 40 + 55 + 20 + 60 + 35 + 75)/7; print("avg Jakarta", jkt)
diff = bdg - jkt
print("Bandung - Jakarta = ", f'{diff:.1f}', "mm/hari")

avg Bandung 45.0
avg Jakarta 44.285714285714285
Bandung - Jakarta =  0.7 mm/hari

Tidak terdapat jawaban yang benar. Apakah benar terdapat jawaban?

Kota | Sen | Sel | Rab | Kam | Jum | Sab | Min
:--- | --- | --- | --- | --- | --- | --- | ---
Bandung  | 30 | 55 | 40 | 35 | 20 | 65 | 70
Jakarta  | 25 | 40 | 55 | 20 | 60 | 35 | 75
Surabaya | 15 | 30 | 55 | 40 | 55 | 25 | 80

12.	Jika diprediksi pada hari Rabu minggu depan curah hujan di ketiga kota akan turun 20% dari rata-rata curah hujan di hari Rabu dari ketiga kota tersebut, maka prediksi curah hujan di kota Surabaya pada hari Rabu minggu depan adalah... \
A.	40 \
B.	45 \
C.	35 \
D.	25 \
E.	30

In [3]:
# avg wed
avg_wed = (40 + 55 + 55) / 3
reduc = 0.2 * avg_wed
rain_sby = 40 - reduc
print(rain_sby, "(E)")

30.0 (E)

## new

Berikut merupakan data curah hujan di kota Jakarta, Bandung, dan Surabaya dalam seminggu terakhir, yang dinyatakan dalam (mm/hari).

Kota | Sen | Sel | Rab | Kam | Jum | Sab | Min
:--- | --- | --- | --- | --- | --- | --- | ---
Jakarta  | 25 | 40 | 55 | 20 | 60 | 35 | 75
Bandung  | 30 | 55 | 40 | 35 | 20 | 65 | 70
Surabaya | 15 | 30 | 55 | 40 | 55 | 25 | 80

10.	Persentase kenaikan curah hujan dari hari Senin ke hari Rabu di kota Bandung adalah ... \
A.	25% \
B.	30% \
C.	33% \
D.	40% \
E.	45%

In [4]:
print(f'{(40-30)/30 * 100:0.0f}%', "(C)")

33% (C)

Berikut merupakan data curah hujan di kota Jakarta, Bandung, dan Surabaya dalam seminggu terakhir, yang dinyatakan dalam (mm/hari).

Kota | Sen | Sel | Rab | Kam | Jum | Sab | Min
:--- | --- | --- | --- | --- | --- | --- | ---
Jakarta  | 25 | 40 | 55 | 20 | 60 | 35 | 75
Bandung  | 30 | 55 | 40 | 35 | 20 | 65 | 70
Surabaya | 15 | 30 | 55 | 40 | 55 | 25 | 80

11.	Selisih rata-rata curah hujan dalam seminggu antara kota Surabaya dan Jakarta adalah ... \
A.	2,1 mm/hari \
B.	1,4 mm/hari \
C.	3,5 mm/hari \
D.	2,8 mm/hari \
E.	0,7 mm/hari

In [5]:
sby = (15 + 30 + 55 + 40 + 55 + 25 + 80)/7; print("avg Surabaya", sby)
jkt = (25 + 40 + 55 + 20 + 60 + 35 + 75)/7; print("avg Jakarta", jkt)
diff = sby - jkt
print("Surabaya - Jakarta = ", f'{diff:.1f}', "mm/hari", "(B)")

avg Surabaya 42.857142857142854
avg Jakarta 44.285714285714285
Surabaya - Jakarta =  -1.4 mm/hari (B)

Berikut merupakan data curah hujan di kota Jakarta, Bandung, dan Surabaya dalam seminggu terakhir, yang dinyatakan dalam (mm/hari).

Kota | Sen | Sel | Rab | Kam | Jum | Sab | Min
:--- | --- | --- | --- | --- | --- | --- | ---
Jakarta  | 25 | 40 | 55 | 20 | 60 | 35 | 75
Bandung  | 30 | 55 | 40 | 35 | 20 | 65 | 70
Surabaya | 15 | 30 | 55 | 40 | 55 | 25 | 80

12.	Jika diprediksi pada hari Sabtu minggu depan curah hujan di ketiga kota akan naik 10% dari rata-rata curah hujan di hari Sabtu dari ketiga kota tersebut, maka prediksi curah hujan di kota Jakarta pada hari Sabtu minggu depan adalah ... \
A.	25% \
B.	30% \
C.	33% \
D.	40% \
E.	45%

In [6]:
# avg sat
avg_sat = (35 + 65 + 25) / 3
incr = 0.1 * avg_wed
rain_jkt = 35 + incr
print(rain_jkt, "(D)")

40.0 (D)