# sell_autos
Tes III.3: Logika Angka

## examples

Sebuah perusahaan mobil merekap hasil penjualan unit mobil dalam 5 tahun terakhir yang tersaji dalam tabel berikut:

Tipe<br>mobil | 2016 | 2017 | 2018 | 2019 | 2020
-|||||-
A | 200 | 250 | 300 | 150 | 100
B | 400 | 500 | 350 | 300 | 200
C | 550 | 600 | 500 | 200 | 100
D | 600 | 700 | 450 | 300 | 250

Nilai jual rata-rata per 50 unit mobil adalah
+ Mobil tipe A: 15 Milyar per 50 unit
+ Mobil tipe B: 12 Milyar per 50 unit
+ Mobil tipe C: 8 Milyar per 50 unit
+ Mobil tipe D: 5 Milyar per 50 unit

13.	Berapakah total nilai jual mobil tipe A dan D pada tahun 2019... \
A.	100 Milyar \
B.	110 Milyar \
C.	120 Milyar \
D.	130 Milyar \
E.	140 Milyar

In [1]:
A2019 = 150 * (15 / 50)
D2019 = 300 * (5 / 50)
AD = A2019 + D2019
print(AD, "(?)")

75.0 (?)

Sebuah perusahaan mobil merekap hasil penjualan unit mobil dalam 5 tahun terakhir yang tersaji dalam tabel berikut:

Tipe<br>mobil | 2016 | 2017 | 2018 | 2019 | 2020
-|||||-
A | 200 | 250 | 300 | 150 | 100
B | 400 | 500 | 350 | 300 | 200
C | 550 | 600 | 500 | 200 | 100
D | 600 | 700 | 450 | 300 | 250

Nilai jual rata-rata per 50 unit mobil adalah
+ Mobil tipe A: 15 Milyar per 50 unit
+ Mobil tipe B: 12 Milyar per 50 unit
+ Mobil tipe C: 8 Milyar per 50 unit
+ Mobil tipe D: 5 Milyar per 50 unit

14.	Berapakah nilai kenaikan dari total penjualan seluruh mobil dari tahun 2016 ke 2017... \
A.	45 Milyar \
B.	49 Milyar \
C.	51 Milyar \
D.	55 Milyar \
E.	57 Milyar

In [2]:
A2016 = 200 * (15 / 50)
B2016 = 400 * (12 / 50)
C2016 = 550 * (8 / 50)
D2016 = 600 * (5 / 50)
T2016 = A2016 + B2016 + C2016 + D2016

A2017 = 250 * (15 / 50)
B2017 = 500 * (12 / 50)
C2017 = 600 * (8 / 50)
D2017 = 700 * (5 / 50)
T2017 = A2017 + B2017 + C2017 + D2017

DT = T2017 - T2016
print(T2016)
print(T2017)
print("Kenaikan total seluruh mobil 2016-2017 = ", DT, "Milyar", "(E)")

304.0
361.0
Kenaikan total seluruh mobil 2016-2017 =  57.0 Milyar (E)

Sebuah perusahaan mobil merekap hasil penjualan unit mobil dalam 5 tahun terakhir yang tersaji dalam tabel berikut:

Tipe<br>mobil | 2016 | 2017 | 2018 | 2019 | 2020
-|||||-
A | 200 | 250 | 300 | 150 | 100
B | 400 | 500 | 350 | 300 | 200
C | 550 | 600 | 500 | 200 | 100
D | 600 | 700 | 450 | 300 | 250

Nilai jual rata-rata per 50 unit mobil adalah
+ Mobil tipe A: 15 Milyar per 50 unit
+ Mobil tipe B: 12 Milyar per 50 unit
+ Mobil tipe C: 8 Milyar per 50 unit
+ Mobil tipe D: 5 Milyar per 50 unit

15.	Berapakah rata-rata nilai penjualan mobil tipe C selama lima tahun... \
A.	62,4 Milyar \
B.	63,6 Milyar \
C.	64,2 Milyar \
D.	66,8 Milyar \
E.	68,4 Milyar

In [3]:
C = (550 + 600 + 500 + 200 + 100) * (8 / 50) / 5
print(C, "Milyar", "(A)")

62.4 Milyar (A)

## new

Sebuah perusahaan mobil merekap hasil penjualan unit mobil dalam 5 tahun terakhir yang tersaji dalam tabel berikut:

Tipe<br>mobil | 2016 | 2017 | 2018 | 2019 | 2020
-|||||-
A | 200 | 250 | 300 | 150 | 100
B | 400 | 500 | 350 | 300 | 200
C | 550 | 600 | 500 | 200 | 100
D | 600 | 700 | 450 | 300 | 250

Nilai jual rata-rata per 50 unit mobil adalah
+ Mobil tipe A: 15 Milyar per 50 unit
+ Mobil tipe B: 12 Milyar per 50 unit
+ Mobil tipe C: 8 Milyar per 50 unit
+ Mobil tipe D: 5 Milyar per 50 unit

13.	Total nilai jual mobil tipe B dan C pada tahun 2020 adalah ... \
A.	70 Milyar \
B.	64 Milyar \
C.	140 Milyar \
D.	80 Milyar \
E.	100 Milyar

In [4]:
B2020 = 200 * (12 / 50)
C2020 = 100 * (8 / 50)
BC = B2020 + C2020
print(BC, "(B)")

64.0 (B)

Sebuah perusahaan mobil merekap hasil penjualan unit mobil dalam 5 tahun terakhir yang tersaji dalam tabel berikut:

Tipe<br>mobil | 2016 | 2017 | 2018 | 2019 | 2020
-|||||-
A | 200 | 250 | 300 | 150 | 100
B | 400 | 500 | 350 | 300 | 200
C | 550 | 600 | 500 | 200 | 100
D | 600 | 700 | 450 | 300 | 250

Nilai jual rata-rata per 50 unit mobil adalah
+ Mobil tipe A: 15 Milyar per 50 unit
+ Mobil tipe B: 12 Milyar per 50 unit
+ Mobil tipe C: 8 Milyar per 50 unit
+ Mobil tipe D: 5 Milyar per 50 unit

14.	Nilai penurunan dari total penjualan seluruh mobil dari tahun 2018 ke 2019 adalah ... \
A.	45 Milyar \
B.	60 Milyar \
C.	90 Milyar \
D.	100 Milyar \
E.	120 Milyar

In [5]:
A2018 = 300 * (15 / 50)
B2018 = 350 * (12 / 50)
C2018 = 500 * (8 / 50)
D2018 = 450 * (5 / 50)
T2018 = A2018 + B2018 + C2018 + D2018

A2019 = 150 * (15 / 50)
B2019 = 300 * (12 / 50)
C2019 = 200 * (8 / 50)
D2019 = 300 * (5 / 50)
T2019 = A2019 + B2019 + C2019 + D2019

DT = T2019 - T2018
print(T2018)
print(T2019)
print("Kenaikan total seluruh mobil 2018-2019 =", DT, "Milyar", "(E)")

299.0
179.0
Kenaikan total seluruh mobil 2018-2019 = -120.0 Milyar (E)

Sebuah perusahaan mobil merekap hasil penjualan unit mobil dalam 5 tahun terakhir yang tersaji dalam tabel berikut:

Tipe<br>mobil | 2016 | 2017 | 2018 | 2019 | 2020
-|||||-
A | 200 | 250 | 300 | 150 | 100
B | 400 | 500 | 350 | 300 | 200
C | 550 | 600 | 500 | 200 | 100
D | 600 | 700 | 450 | 300 | 250

Nilai jual rata-rata per 50 unit mobil adalah
+ Mobil tipe A: 15 Milyar per 50 unit
+ Mobil tipe B: 12 Milyar per 50 unit
+ Mobil tipe C: 8 Milyar per 50 unit
+ Mobil tipe D: 5 Milyar per 50 unit

15.	Berapakah rata-rata nilai penjualan mobil tipe D selama lima tahun... \
A.	40 Milyar \
B.	46 Milyar \
C.	52 Milyar \
D.	60 Milyar \
E.	72 Milyar

In [6]:
D = (600 + 700 + 450 + 300 + 250) * (5 / 50) / 5
print(D, "Milyar", "(B)")

46.0 Milyar (B)