# read medals data
read an excel file using pandas

## import pandas

In [2]:
# import pandas library
import pandas as pd

## read all data

In [3]:
df = pd.read_excel("medal.xlsx")
print(df)

    rank                  country  gold  silver  bronze  total
0      1                    China   132      92      65    289
1      2                    Japan    75      56      74    205
2      3        Republic of Korea    49      58      70    177
3      4                Indonesia    31      24      43     98
4      5               Uzbekistan    21      24      25     70
5      6                  IR Iran    20      20      22     62
6      7           Chinese Taipei    17      19      31     67
7      8                    India    15      24      30     69
8      9               Kazakhstan    15      17      44     76
9     10                DPR Korea    12      12      13     37
10    11                  Bahrain    12       7       7     26
11    12                 Thailand    11      16      46     73
12    13          Hong Kong China     8      18      20     46
13    14                 Malaysia     7      13      16     36
14    15                    Qatar     6       4       3     13
15    16                 Mongolia     5       9      11     25
16    17                  Vietnam     4      16      18     38
17    18                Singapore     4       4      14     22
18    19              Philippines     4       2      15     21
19    20     United Arab Emirates     3       6       5     14
20    21                   Kuwait     3       1       2      6
21    22               Kyrgyzstan     2       6      12     20
22    23                   Jordan     2       1       9     12
23    24                 Cambodia     2       0       1      3
24    25  Kingdom of Saudi Arabia     1       2       3      6
25    26              Macau China     1       2       2      5
26    27                     Iraq     1       2       0      3
27    28                    Korea     1       1       2      4
28    28                  Lebanon     1       1       2      4
29    30               Tajikistan     0       4       3      7
30    31                  Lao PDR     0       2       3      5
31    32             Turkmenistan     0       1       2      3
32    33                    Nepal     0       1       0      1
33    33                     Oman     0       1       0      1
34    35                 Pakistan     0       0       4      4
35    36              Afghanistan     0       0       2      2
36    37                  Myanmar     0       0       2      2
37    38                    Syria     0       0       1      1
38    39               Bangladesh     0       0       0      0
39    39                   Bhutan     0       0       0      0
40    39        Brunei Darussalam     0       0       0      0
41    39               East Timor     0       0       0      0
42    39                 Maldives     0       0       0      0
43    39                Palestine     0       0       0      0
44    39                Sri Lanka     0       0       0      0
45    39                    Yemen     0       0       0      0