# read_xls_with_pandas
read an excel file using pandas

In [1]:
# import pandas library
import pandas as pd

In [2]:
df0 = pd.read_excel("sample_0.xlsx")
print(df0)

     x   y
0    0   2
1    1   3
2    2   4
3    3   5
4    4   6
5    5   7
6    6   8
7    7   9
8    8  10
9    9  11
10  10  12

In [3]:
df1 = pd.read_excel("sample_1.xlsx")
print(df1)

   Unnamed: 0  0  1  2   3   4
0           0  0  0  0   0   0
1           1  0  1  2   3   4
2           2  0  2  4   6   8
3           3  0  3  6   9  12
4           4  0  4  8  12  16

In [4]:
df2 = pd.read_excel("sample_2.xlsx")
print(df2)

   x1      y1  Unnamed: 2  x2      y2
0   0   0.125         NaN   0   0.125
1   1   2.125         NaN   1   5.125
2   2   4.125         NaN   2  10.125
3   3   6.125         NaN   3  15.125
4   4   8.125         NaN   4  20.125
5   5  10.125         NaN   5  25.125
6   6  12.125         NaN   6  30.125
7   7  14.125         NaN   7  35.125

In [5]:
df3 = pd.read_excel("sample_3.xlsx")
print(df3)

    Unnamed: 0 Unnamed: 1 Unnamed: 2  Unnamed: 3  Unnamed: 4 Unnamed: 5  \
0          NaN          0          1         2.0         3.0          4
1          NaN          0          1         2.0         3.0          4
2          NaN        NaN        NaN         NaN         NaN        NaN
3          NaN        NaN        NaN         NaN         NaN        NaN
4          NaN        NaN        NaN         NaN         NaN          x
5          NaN        NaN        NaN         NaN         NaN          1
6          NaN        NaN        NaN         NaN         NaN          3
7          NaN        NaN        NaN         NaN         NaN          5
8          NaN        NaN        NaN         NaN         NaN        NaN
9          NaN          a          b         NaN         NaN        NaN
10         NaN          1          2         NaN         NaN        NaN
11         NaN          3          4         NaN         NaN        NaN
12         NaN          5          6         NaN         NaN        NaN

   Unnamed: 6
0           5
1           5
2         NaN
3         NaN
4           y
5           2
6           4
7           6
8         NaN
9           0
10          0
11          0
12          0