# born_year_sum_digit
Tes III.3: Logika Angka

## example
Pada tanggal 15 Februari 2015, Andika merayakan ulang tahun. Ternyata usia Andika pada tanggal tersebut sama dengan jumlah penjumlahan dari digit tahun lahirnya. Pada tahun berapakah Andika lahir...\
A.	1991 \
B.	1995 \
C.	1993 \
D.	1992 \
E.	1997

In [1]:
# sum of four-digit year string
def sumy(x):
    s = 0
    for i in x:
        s += int(i)
    return s

In [2]:
# create four-digit year string
def year(x):
    y = 0
    j = 0
    for i in reversed(x):
        y += int(i) * pow(10, j)
        j += 1
    return y

In [3]:
# create a list of four-digit year string
born = []
for i in range(1990, 2001):
    y = f'{i:d}'
    born.append(y)

In [4]:
# search for a match condition
now = '2015'
for i in born:
    diff = year(now) - year(i)
    digy = sumy(i)
    print(i, diff, digy, end='')
    if diff == digy:
        print(" <-- answer")
    else:
        print()

1990 25 19
1991 24 20
1992 23 21
1993 22 22 <-- answer
1994 21 23
1995 20 24
1996 19 25
1997 18 26
1998 17 27
1999 16 28
2000 15 2

C. 1993

## new

In [5]:
# search for a match condition
now = '2021'
for i in born:
    diff = year(now) - year(i)
    digy = sumy(i)
    print(i, diff, digy, end='')
    if diff == digy:
        print(" <-- answer")
    else:
        print()

1990 31 19
1991 30 20
1992 29 21
1993 28 22
1994 27 23
1995 26 24
1996 25 25 <-- answer
1997 24 26
1998 23 27
1999 22 28
2000 21 2

In [6]:
# search for a match condition
now = '2022'
for i in born:
    diff = year(now) - year(i)
    digy = sumy(i)
    print(i, diff, digy, end='')
    if diff == digy:
        print(" <-- answer")
    else:
        print()

1990 32 19
1991 31 20
1992 30 21
1993 29 22
1994 28 23
1995 27 24
1996 26 25
1997 25 26
1998 24 27
1999 23 28
2000 22 2

Tidak selalu terdapat jawaban seperti ditunjukkan oleh kode terakhir.